---
// TODO: Make everything look pretty with Daisy UI
import equipment from "~/client/equipment";
import StyledInput from "~/components/styled-input.astro";
import Layout from "~/layouts/base.astro";
---

<script src="~/scripts/home.ts"></script>

<Layout class="box-border flex flex-col gap-2 p-4 lg:py-6">
    <div class="flex flex-col gap-2">
        <div class="box-border flex grow flex-col gap-2">
            <span class="box-border hidden font-bold lg:block">Base damage</span>
            <input class="size-full px-2 lg:box-border lg:py-2" id="base-damage" min={0} placeholder="Base damage" />
        </div>

        <div class="box-border flex grow flex-col gap-2">
            <span class="box-border hidden font-bold lg:block">Cooldown</span>
            <input class="size-full px-2 lg:box-border lg:py-2" id="cooldown" min={0} placeholder="Cooldown" />
        </div>
    </div>

    <div class="flex flex-row gap-2 lg:mb-4 lg:w-full lg:flex-col lg:gap-6">
        {
            [1, 2].map(number => (
                <div class="box-border flex flex-col gap-2 lg:gap-2.5">
                    <span class="box-border px-2 font-bold">Equipment #{number}</span>

                    <select class="box-border p-2" id={`equipment-selector-${number}`}>
                        <option disabled selected>
                            Select equipment...
                        </option>

                        {equipment.NAMED.map(entry => (
                            <option
                                data-cooldown-reduction={entry.data.cooldownReduction}
                                data-critical-chance={entry.data.criticalChance}
                                data-critical-damage={entry.data.criticalDamage}
                                data-damage-all={entry.data.damage?.all}
                                data-damage-blunt={entry.data.damage?.blunt}
                                data-damage-chaos={entry.data.damage?.chaos}
                                data-damage-elements={entry.data.damage?.elements}
                                data-damage-fire={entry.data.damage?.fire}
                                data-damage-frost={entry.data.damage?.frost}
                                data-damage-radiant={entry.data.damage?.radiant}
                                data-damage-slash={entry.data.damage?.slash}
                                data-damage-stab={entry.data.damage?.stab}
                                data-damage-umbral={entry.data.damage?.umbral}
                                id={`${entry.id}-${number}`}
                                value={`${entry.id}-${number}`}
                            >
                                {entry.name}
                            </option>
                        ))}
                    </select>

                    <StyledInput id={`damage-${number}`} placeholder="Increased damage" />
                    <StyledInput id={`critical-chance-${number}`} max={100} placeholder="Critical chance" />
                    <StyledInput id={`critical-multiplier-${number}`} placeholder="Critical damage multiplier" />
                    <StyledInput id={`cooldown-reduction-${number}`} max={50} placeholder="Cooldown reduction" />
                </div>
            ))
        }
    </div>

    <p class="whitespace-pre-line" id="output"></p>
</Layout>
